<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TorchTrack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TorchTrackApp.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="" style="background-color: white; border: none;" id="sidebar-wrapper">
            
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item p-3" onclick="window.location.href = 
                            '@Url.Action("Models", "Home")'"><img src="~/images/neural-network.png"/></a>


                <a class="list-group-item list-group-item-action list-group-item p-3" onclick="window.location.href = 
                            '@Url.Action("Training", "Home")'"><img src="~/images/settings-gears.png"/></a>


                <a class="list-group-item list-group-item-action list-group-item p-3" onclick="window.location.href = 
                            '@Url.Action("Documentation", "Home")'" href="#!"><img src="~/images/book-svgrepo-com.svg" /></a>
            </div>
        </div>
        
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg" >
                <div class="container-fluid">
                    <button class="btn" id="sidebarToggle"><img src="~/images/more.png"/></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">

                            <li class="nav-item active"><a class="nav-link" onclick="window.location.href = '@Url.Action("Index", "Home")'">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://github.com/NeuralNuts" target="_blank">Github</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://pypi.org/project/TorchTrack/" target="_blank">PyPi</a></li>

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" href="#!">Account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#!">Logout</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#!">TorchTrack</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/file_upload.js" asp-append-version="true"></script>
    <script type="module" src="~/js/training_endpoint_handler.js" asp-append-version="true"></script>
    <script type="module" src="~/js/model_endpoint_handler.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="https://kit.fontawesome.com/69d92cf395.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
